<div id="terms" class="modal fade">
    <div class="modal-header">
        <button style="margin-top: -9px;" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>
    <div class="modal-body">
        <p>{{ _("I have read the license terms") }}.</p>
    </div>
    <div class="modal-footer">
        <a class="btn" type="button" class="close" data-dismiss="modal" aria-hidden="true">{{_("Decline")}}</a>
        <a id="closemodal" type="button" href="{{ res.url }}" target="_blank" class="modal-close btn btn-primary" onclick="$('#terms').modal('hide')">{{_("Accept")}}</a>
    </div>
</div>
