<div id="terms" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Nutzungsbedingungen</h3>
    </div>
    <div class="modal-body">
        <p>{{ _("In order to download the resource, you must accept the") }} <a href="{{ site_url }}/pages/nutzungsbedingungen" target="_blank"> {{ _("Terms of Use") }}</a></p>
    </div>
    <div class="modal-footer">
        <a class="btn" type="button" class="close" data-dismiss="modal" aria-hidden="true">{{_("Decline")}}</a>
        <a href="{{ res.url }}" class="btn btn-primary">{{_("Accept")}}</a>
    </div>
</div>