body {
    font-family: 'Lato', sans-serif;
    background: white;
}

.masthead {
    background: white;
    box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.20);
    z-index: 50;
    position: relative;
    height: 97px;
}

[role=main],
.main {
    background: none;
}

.hero {
    background: url("/base/images/hero-bg.jpg");
    bottom: 62px;
}

.toolbar {
    margin-top: 50px;
}

.toolbar .breadcrumb a {
    color: #55AC44;
    margin-top: 30px;
}

.masthead .nav-collapse {
    padding-top: 30px;
}

.module-content:last-child {
    margin-top: 20px;
}

.box {
    margin-top: -75px;
}

.homepage .row {
    top: 12px;
}

.account-masthead {
    background-color: #55AC44;
}

.homepage .module-search .module-content {
    background-color: #55AC44;
}

.homepage .module-search {
    padding: 0;
}

.site-footer {
    background-color: #11773B;
}

.masthead .navigation .nav-pills li a:hover,
.masthead .navigation .nav-pills li.active a {
    color: #55AC44;
    background: none;
    box-shadow: none;
}

.header-image pull-left {}

.navigation li {
    border-right: 1px solid #000000;
    height: 35px
}

.masthead .navigation .nav-pills li.active {
    background: none;
}

.masthead .nav>li>a,
.masthead .nav>li>a:focus,
.masthead .nav>.active>a,
.masthead .nav>.active>a:focus {
    color: black;
}

[class*="span"] {
    margin-left: 10px;
    margin-bottom: 30px;
}

.site-footer {
    padding: 55px 0;
}

.unstyled-second {
    margin-top: 56px;
    list-style-type: none;
}

.span4.attribution {
    margin-top: 55px;
}