{% extends "page.html" %}
{% block primary %}
  <article class="module">
    <div class="module-content">
     <h1>API OpenVRR</h1>
     <p>Für die Schnittstelle kann die folgende URL zu unserem Fahrgastinformationssystem genutzt werden: <br>
         <a href="http://193.26.125.69/"> XML-Schnittstelle</a>
     </p>
     <p>Wir halten uns frei diesen Zugriff auch für interne Tests zu benutzen, so dass es zeitweise nicht zu plausiblen Ergebnissen kommen kann.
     </p>
        <p>In der <a href="http://www.openvrr.de/dataset/dokumentationen">Schnittstellendokumentation</a> werden alle Parameter zur Nutzung beschrieben.</p>

        <p>Gegenwärtig ertüchtigen wir unsere Systemarchitektur, um die EFA-XML-Schnittstelle im Rahmen von OpenVRR für den produktiven Betrieb bereitstellen zu können.</p>
        <p>Sollten die EFA-XML-Schnittstelle bereits jetzt für den produktiven Betrieb benötigt werden, dann bitten um Kontaktaufnahme <a href="mailto:openvrr@vrr.de">per Mail</a>. </p>
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
