<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="icon-info-sign"></i>
    {{ _('What are Organizations?') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}
       In dieser Rubrik können Gruppen von Datensätzen erstellt, bearbeitet und veröffentlicht werden.
       Benutzer haben verschiedene Berechtigungen innerhalb von Organisationen, die von ihrer Berechtigungsstufe abhängen: erstellen, bearbeiten, veröffentlichen.
      {% endtrans %}
    </p>
  </div>
</div>